<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title >GigaChadBot</title>
  </head>
  <body>
    <p class="titre">Chatbot</p>
    <form action="/chat" method="POST">
      <input type="text" name="user_input" id="user_input" placeholder="Posez une question">
      <button type="submit">Envoyer</button>
    </form>
  
    <table class="tableau">
      <thead>
        <tr>
          <th class="TitreColonne">Vous :</th>
          <th class="TitreColonne">GigaChadBot :</th>
        </tr>
      </thead>
      <tbody>
        {% for i in range(history['inputs']|length) %}
          <tr>
            <td class="input">{{ history['inputs'][i] }}</td>
            <td class="reponse">{{ history['responses'][i] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
    
  </body>
</html>
